.settings-container,
.settings-section,
.subitems-section,
.settings-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.settings-container {
  flex-grow: 1;
  gap: 28px;
  overflow: auto;
}

.settings-cards {
  gap: 8px;
}

.setting-card {
  display: flex;
  gap: 32px;
}

.setting-card.column-span-1 {
  grid-column: span 1;
}

.setting-card.column-span-2 {
  grid-column: span 2;
}

.setting-card.column-span-3 {
  grid-column: span 3;
}

.setting-card-title {
  flex-grow: 1;
  font-weight: 500;
}

.setting-card-value {
  font-weight: 300;
}

.setting-card-value--limited {
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .settings-cards {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }
}
