.todo-item {
  gap: 12px;
}

.todo-item .todo-content {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  font-size: inherit;
  outline: none;
  resize: none;
}

.todo-item.done {
  filter: saturate(0.8) opacity(0.5);
}

.todo-item.done .todo-content {
  pointer-events: none;
  text-decoration: line-through;
}

@media (min-width: 768px) {
  .todo-item {
    gap: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  .item-card.done .todo-content {
    color: var(--item-card-accent);
  }
}