.custom-checkbox {
  --custom-checkbox-accent: var(--theme-color-text-primary-hover);
}

.custom-checkbox input[type='checkbox'] {
  display: none;
}

.custom-checkbox .checkbox {
  border: solid 2px var(--theme-color-text-primary);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  height: 20px;
  position: relative;
  transition: 0.15s ease-in;
  width: 20px;
}

.custom-checkbox .checkbox::after {
  background-color: var(--theme-color-text-primary);
  border-radius: 100%;
  content: '';
  height: 50%;
  position: absolute;
  transform: translate(50%, 50%) scale(0);
  transition: 0.15s ease-in;
  width: 50%;
}

.custom-checkbox input[type='checkbox']:checked + .checkbox {
  border-color: var(--custom-checkbox-accent);
}

.custom-checkbox input[type='checkbox']:checked + .checkbox::after {
  background-color: var(--custom-checkbox-accent);
  transform: translate(50%, 50%) scale(1);
}

@media (min-width: 768px) {
  .custom-checkbox .checkbox {
    height: 24px;
    width: 24px;
  }
}