@import url('./roboto.css');
@import url('./custom-checkbox.css');

/* App Layouts */
@import url('./layout.css');

:root {
  color-scheme: light;

  /* Common */
  --theme-color-background: #f3f3f3;
  --theme-color-background-hover: #c9c9c9;
  --theme-color-text-primary: #1d1d1d;
  --theme-color-text-primary-hover: #3b3b3b;
  --theme-color-button-negative: #1d1d1d;
  --theme-color-button-negative-hover: #3b3b3b;

  /* Navbar */
  --theme-color-navbar-background: #fff;
  --theme-color-navbar-text: #020202;

  /* Tasks */
  --theme-color-tasks: #ffbf85;
  --theme-color-tasks-hover: #edb27c;

  /* Projects */
  --theme-color-projects: #90d7ff;
  --theme-color-projects-hover: #7cb9db;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

#app {
  background-color: var(--theme-color-background);
  color: var(--theme-color-text-primary);
  /* Needed for vertical centering with "margin: auto 0" in children */
  display: grid;
}

/* 
A hack to keep children in place during transition animations. 
Most of the time, "#app" will have only one child, such as: 
  <div class="app-layout">
  ...
  </div>
*/
#app > * {
  grid-row: 1;
  grid-column: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* Common */
    --theme-color-background: #1d1d1d;
    --theme-color-background-hover: #3b3b3b;
    --theme-color-text-primary: #f3f3f3;
    --theme-color-text-primary-hover: #c9c9c9;
    --theme-color-button-negative: #f3f3f3;
    --theme-color-button-negative-hover: #c9c9c9;

    /* Navbar */
    --theme-color-navbar-background: transparent;
    --theme-color-navbar-text: var(--theme-color-text-primary);
  }
}
