@import url('./roboto.css');

:root {
  --light-theme-bg: #f3f3f3;
  --light-theme-bg-hover: #c9c9c9;
  --light-theme-fg: #1d1d1d;
  --light-theme-fg-hover: #3b3b3b;

  --dark-theme-bg: var(--light-theme-fg);
  --dark-theme-bg-hover: var(--light-theme-fg-hover);
  --dark-theme-fg: var(--light-theme-bg);
  --dark-theme-fg-hover: var(--light-theme-bg-hover);

  --tasks-accent-color: #ffbf85;
  --tasks-accent-color-hover: #edb27c;

  --projects-accent-color: #90d7ff;
  --projects-accent-color-hover: #7cb9db;

  color-scheme: only light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

#app {
  color: var(--light-theme-fg);
  background-color: var(--light-theme-bg);
}

@media (prefers-color-scheme: dark) {
  #app {
    color: var(--dark-theme-fg);
    background-color: var(--dark-theme-bg);
  }
}
